* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a , li {
    display: inline-block;
    text-decoration: none;
    list-style: none;
    font-style: none;
    text-shadow: none;
}

/*Header*/
header {
    height: 120px;
    width: 100%;
    background-color: #2d2d2d;
    display: grid;
    align-items: center;
    position: fixed;
    z-index: 100;
    border-bottom: solid 10px #8598cd;
    border-bottom-style: double;
    box-shadow: rgb(0, 0, 0, 0.30) 10px 5px 10px 10px
}
.navLogo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navLogo span {
    color: #2d2d2d; 
    font-family: 'Consolas', Courier, monospace; 
    font-size: 4rem;
}
.navLogo h1 {
    color: #343E6B;
    font-family: 'Segoe Print', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4rem;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: #2d2d2d;
}
.navLogo a {
    height: 90px;
    display: flex; 
    align-items: center;
    position: relative;
}
.navLogo a div {
    display: inline-block;
    text-align: center;   
}
.navLogoBackg {
    position: absolute;
    width: 30%;
    height: 90px;
    margin-left: 1%;
}
header nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navTexto ul{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}
.navLogoImagen {
    width: 80px;
    height: 84px;
}
.navTexto a {
    position: relative;
    font-size: 2.5em;
    color: #343E6B;
    text-decoration: none;
    padding: 6px 20px;
    transition: .5s;
}
.navTexto a:hover {
    color: #8598cd;
}
.navTexto a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-bottom: 4px solid #8598cd;
    border-radius: 15px;
    transform: scale(0) translateY(50px);
    opacity: 0;
    transition: .5s;
}
.navTexto a:hover span {
    transform: scale(1) translateY(0);
    opacity: 1;
}



/*Main*/
main{
    min-height: 100vh;
    max-width: 100vw;
    background-color: #2d2d2d;
    padding: 120px 40px 0px 40px;
}

/*Main Inicio*/
#mainBanner {
    background-image: url(../images/Index/tarjeta\ 2.png);
    background-position-x: 70%;
    background-position-y: top;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logoMainPage {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logoMainPage img{
    width: 500px;
    height: 500px;
    text-align: center;
}
.textoMainPage {
    font-size: 160px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 200px;
}
.textoMainPage .art{
    font-family: 'Segoe Print', Tahoma, Geneva, Verdana, sans-serif;
    color: #3C4471;
    -webkit-text-stroke: 3px;
    -webkit-text-stroke-color: #2d2d2d;
}
.textoMainPage .ivst {
    font-family: 'Consolas', Courier, monospace;
    color: #2d2d2d;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0, 0.30);
}

/*Main Sobre Mí*/

.conteinter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    height: 90vh;
}
.texto-yo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "texto1 fotos1"
    "texto2 fotos1"
    "redes1 fotos1";
    height: 80vh;
}
.texto-yo .me {
    grid-area: texto1;
    align-self: end;
}
.texto-yo p {
    grid-area: texto2;
    align-self: center;
}
.texto-yo .redes {
    grid-area: redes1;
    padding-top: 20px;
}
.texto-yo .imagen-yo {
    grid-area: fotos1;
    justify-self: center;
    align-self: center;
}
.texto-yo h3 {
    cursor: default;
    color: #8598cd;
    font-size: 2.5rem;
}
.texto-yo h2 {
    cursor: default;
    color: #8598cd;
    font-size: 4rem;
}
.texto-yo h2 span {
    color: white; 
    font-family: 'Consolas', Courier, monospace;
}
.texto-yo p {
    cursor: default;
    color: #8598cd; 
    font-size: 1.8rem; 
    font-family: 'Segoe Print', Tahoma, Geneva, Verdana, sans-serif;
}
.texto-yo div img {
    width: 80px;
}
.imagen-yo div{
    width: 40vw;
    display: flex;
    justify-content: center;
}
.texto-yo .imagen-yo img{
    width: 550px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 180px;
    border-top-left-radius: 180px;
    box-shadow: rgb(0, 0, 0, 0.30) 10px 10px 10px 1px
}
.sobre-mi {
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 20px;
}
.sobre-mi h3{
    color: white; 
    font-size: 2.5rem;
    font-family: 'Consolas', Courier, monospace;
    text-align: center;
}
.sobre-mi p{
    color: #8598cd; 
    font-size: 1.8rem; 
    font-family: 'Consolas', Courier, monospace;
}
.intro h3,
.diseño h3,
.programacion h3{
    margin-left: 20px;
    margin-right: 20px;
    cursor: default;
}
.intro,
.diseño,
.programacion {
    margin-bottom: 60px;
}
.intro p,
.programacion p,
.diseño p {
    position: relative;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
    cursor: default;
}
.intro p span,
.programacion p span,
.diseño p span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 10px;
    border-right: 8px solid #343E6B;
    border-left: 8px solid #343E6B;
    transform: scale(0) translateY(50px);
    opacity: 0;

}

.intro p:hover span,
.programacion p:hover span,
.diseño p:hover span{
    transform: scale(1) translateY(0);
    z-index: 0;
    opacity: 1;
}
.diseño div,
.intro div,
.programacion div {
    display: flex;
    justify-content: center;
}
.diseño div div,
.intro div div,
.programacion div div{
    width: 20%;
    flex-direction: column;
}
.diseño div span,
.intro div span,
.programacion div span {
    border-bottom: outset 3px #8598cd;
}


/*Main Certificados*/

.mainCertificados {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 30px 0px 30px 0px;
}
.mainCertificados img {
    width: 45vw;
}
.container-block {
	color: #8598cd;
	display: flex;
    align-items: center;
    justify-content: center;
	margin: 3rem;
	max-width: 100%;
	position: relative;	
	&::before {
		bottom: 0;
		content: '';
		display: block;
		position: absolute;
		top: 0;
		width: 100%;
	}
	&:hover {
		.inner-block:before,
		.slider-top-right:after {
			height: 100%;
		}
		.inner-block:after,
		.slider-top-right:before {
			width: 100%;
		}
	}
	img {
		display: block;
		max-width: 100%;
	}
}
.slider-top-right:before,
.inner-block:after {
	height: 8px;
	transition: width .75s ease;
	width: 0%;
}

.slider-top-right:after,
.inner-block:before {
	height: 0%;
	transition: height .75s ease;
	width: 8px;
}

.inner-block:before,
.inner-block:after,
.slider-top-right:before,
.slider-top-right:after {
	background-color: #8598cd;
	content: '';
	display: block;
	position: absolute;
}

.inner-block {
	font-size: 2em;
	width: 97%;
	height: 96%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    margin: auto;
	&:before {
		bottom: 0;
		left: 0;
	}
	&:after {
		bottom: 0;
		right: 0;
	}
}

.slider-top-right {
	position: relative;
	width: 100%;
	height: 100%;
	&:before {
		top: 0;
		left: 0;
	}
	&:after {
		top: 0;
		right: 0;
	}
}

/*Main Proyectos*/
#mainProjectos {
    padding: 30px 0px 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
}
.ArtIvst {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: solid 2.5px #8598cd;
    width: 80vw;
    margin-bottom: 50px;
}
.ArtIvst div {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 40vw 40vw;
    margin-top: 30px;
    margin-bottom: 10px;
}
.ArtIvst div h2 {
    font-size: 4rem;
    font-family: 'Consolas', Courier, monospace;
    color: #8598cd;
    display: flex;
    margin-left: 25px;
    align-items: center;
    justify-content: left;
}
.ArtIvst div h3{
    font-size: 3rem;
    font-family: 'Consolas', Courier, monospace;
    color: rgb(95, 95, 95);
    display: flex;
    margin-right: 25px;
    align-items: center;
    justify-content: right;
}
.ArtIvst a {
    display: flex;
    width: min-content;
    border-radius: 20px;
}
.ArtIvst img {
    width: 80vw;
    border: solid 1px #8598cd;
    border-radius: 20px;
}

/*Main Contactos*/
.mainContact {
    padding: 0;
}

.imgContactos1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-top: 120px;
}
.imgContactos1 img{
    border: solid 2px #8598cd;
    border-radius: 45px;
    width: 55vw;
}
.imgContactos1 p {
    color: #8598cd;
    font-size: 5vw;
    margin-right: 30px;
}

.contactMe {
    display: flex;
    justify-content: center;
}
.contactForm {
    width: 70%;
    padding-top: 20px;
    padding-bottom: 40px;
}
.contactForm h2 {
    font-size: 40px;
    color: #8598cd;
    font-weight: 500;
}
.contactForm .input {
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .input input,
.contactForm .input textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 15px 0;
    border: none;
    border-bottom: solid 2px #8598cd;
    outline: none;
    resize: none;
}
.contactForm .input textarea {
    height: 100px;
}
.contactForm .input span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 18px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #343E6B;
}
.contactForm .input input:focus ~ span,
.contactForm .input input:valid ~ span,
.contactForm .input textarea:focus ~ span,
.contactForm .input textarea:valid ~ span{
    color: #8598cd;
    font-size: 12x;
    transform: translateY(-28px);
}
.contactForm .input input[type="submit"] {
    width: 100px;
    background: #343E6B;
    color: #8598cd;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 20px;
}
/*Footer*/
footer {
    margin-top: auto;
    width: 100%;
    height: 150px;
    background-color: #2d2d2d;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 10px #8598cd;
    border-top-style: double;
    box-shadow: rgb(0, 0, 0, 0.30) 10px -5px 10px 10px;
}
.FooterLogo img {
    display: flex;
    height: 127px;
    width: 120px;
}
.navFooter {
    display: inline-block;
    text-align: center;
    justify-self: center;
    grid-area: navFooter;
    border-left: solid 2px #8598cd;
    border-right: solid 2px #8598cd;
    padding-left: 20px;
    margin-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
    width: fit-content;
}
footer ul li {
    font-size: 20px;
    margin: 7.5px;
    position: relative;
    cursor: pointer;
}
.navFooter div ul li a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #8598cd;
    border-radius: 100px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.35s ease-out;
}
.navFooter div ul li a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}
footer ul li a {
    color: #8598cd;
}
.FooterLogo2 img {
    display: flex;
    height: 127px;
    width: 120px;
}



@media screen and (max-width: 1200px) {
    .navTexto a {
        font-size: 2rem;
    }
    .navLogo h1, .navLogo span {
        font-size: 3rem;
    }
    .navLogoImagen{
        display: none;
    }

    .texto-yo .imagen-yo {
        align-self: center;
    }
    .texto-yo .me{
        padding-bottom: 50px;
    }
    .texto-yo h3 {
        font-size: 2.8rem;
    }
    .texto-yo h2 {
        font-size: 3.2rem;
    }
    .texto-yo p{
        font-size: 1.5rem; 
    }
    .texto-yo .redes {
        padding-top: 50px;
    }
    .texto-yo .imagen-yo img {
        width: 400px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 140px;
        border-top-left-radius: 140px;
    }

    .logoMainPage {
        padding: 0;
    }
    .logoMainPage img {
        width: 400px;
        height: 400px;
    }
    .textoMainPage div h1{
        font-size: 10rem;
    }
    .container-block {
        padding: 0;
        margin: 10px;
    }
    .certificados {
        padding-top: 150px;
    }
    .certificados img{
        width: 45vw;
    }

    .ArtIvst div h2 {
        font-size: 3rem;
    }
    .ArtIvst div h3 {
        font-size: 2rem;
    }
    .ArtIvst img {
        width: 80vw;
    }

    .mainContactos {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .contactIntro {
        z-index: 2;
    }
    .mainContactos {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .imgContactos1 , .imgContactos2 {
        margin: 0;
    }
    .imgContactos1 img, .imgContactos2 img {
        width: 80vw;
    }
}

@media screen and (max-width: 1025px) {
    .navTexto a {
        font-size: 1.7rem;
    }
    .navLogo h1, .navLogo span {
        display: none;
    }
    .navLogoBackg {
        display: none;
    }
    .navLogoImagen {
        display: flex;
    }
    #mainBanner {
        padding-top: 100px;
    }
    .logoMainPage img {
        width: 350px;
        height: 350px;
    }
    .textoMainPage div h1 {
        font-size: 9rem;
    }

    .texto-yo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 25% 1fr;
        grid-template-areas:
        "texto1 fotos1"
        "texto2 fotos1"
        "texto2 redes1";
        margin-top: 20px;
        position: sticky;
    }
    .texto-yo .me {
        align-self: end;
        justify-self: end;
        padding-bottom: 0;
    }
    .texto-yo h3 {
        grid-area: texto1;
        text-align: right;
        font-size: 2rem;
    }
    .texto-yo h2 {
        grid-area: texto1;
        font-size: 2.5rem;
    }
    .texto-yo p {
        grid-area: texto2;
        font-size: 1.5rem;
        align-self: baseline;
        padding-top: 20px;
    }
    .texto-yo .redes {
        grid-area: redes1;
        justify-self: center;
        align-self: baseline;
        padding-top: 10px;
    }
    .texto-yo .imagen-yo {
        grid-area: fotos1;
        margin: 0;
        padding-bottom: 20px;
        align-self: end;
    }
    .texto-yo .imagen-yo img {
        width: 280px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 100px;
        border-top-left-radius: 100px;
    } 
    .sobre-mi h3 {
        font-size: 2rem;
    }
    .sobre-mi p{
        font-size: 1.5rem;
    }
    .diseño,
    .programacion,
    .intro {
        margin-bottom: 30px;
    }

    .mainCertificados {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .mainCertificados img{
        width: 80vw;
    }

}

@media screen and (max-width: 720px) {
    header {
        height: fit-content;
        padding-top: 10px;
        padding-bottom: 10px;
        display: grid;
        grid-template-columns: 2;
    }
    header nav{
        display: flex;
        justify-content: space-around;
        height: max-content;
    }
    .navTexto a {
        padding: 10px;
        font-size: 1.5rem;
    }
    .navLogoImagen {
        width: 80px;
        height: 80px;
    }

    .logoMainPage img{
        height: 300px;
        width: 300px;
    }
    .textoMainPage div h1 {
        font-size: 8rem;
    }

    .texto-yo .imagen-yo img {
        width: 250px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 80px;
        border-top-left-radius: 80px;
    }  
    

    .ArtIvst div h2 {
        font-size: 2rem;
    }
    .ArtIvst div h3 {
        font-size: 1.5rem;
    }

    .texto-yo {
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
        "texto1 texto1"
        "texto2 fotos1"
        "texto2 redes1";
    }
    .texto-yo .me {
        padding-bottom: 0;
        justify-self: center;
    }
    .texto-yo .me h3 {
        text-align: center;
        font-size: 2.5rem;
    }
    .texto-yo .me h2 {
        font-size: 3rem;
    }
    .texto-yo p {
        font-size: 1.5rem; 
        padding-top: 20px;
        align-self: baseline;
    }
    .texto-yo .imagen-yo {
        margin-top: 20px;
    }

    .imgContactos1 {
        flex-direction: column;
    }
    .imgContactos1 p {
        margin: 0;
    }

    footer {
        display: flex;
        flex-direction: column;
        height: fit-content;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navFooter {
        border-top: solid 2px #8598cd;
        border-bottom: solid 2px #8598cd;
        border-left: none;
        border-right: none;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .navFooter a {
        font-size: 1rem;
    }
    .FooterLogo img {
        height: 80px;
        width: 80px;
    }
    .FooterLogo2 img {
        height: 80px;
        width: 80px;
    }
}
@media screen and (max-width: 660px){
    header {
        display: flex;
        justify-content: center;
        padding-top: 10px;
        height: 180px;
    }
    header nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .navTexto {
        border-left: solid 1px #8598cd;
        padding-left: 10px;
    }
    .navTexto ul{
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        justify-content: start;
    }
    .navTexto ul a {
        padding: 5px 8px 0px 8px;
        font-size: 1rem;
        color: #8598cd;
    }
    .navTexto a span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        border-bottom: 3px solid #8598cd;
        border-radius: 15px;
        transform: scale(0) translateY(50px);
        opacity: 0;
        transition: .5s;
    }

    main {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 180px;
    }

    .textoMainPage div h1{
        font-size: 6rem;
    }

    .conteinter {
        height: 80vh;
    }
    .texto-yo .me h3 {
        font-size: 1.8rem;
    }
    .texto-yo .me h2 {
        font-size: 2rem;
    }
    .texto-yo p {
        font-size: 1.5rem;
    }
    .texto-yo .redes img {
        width: 60px;
    }
    .texto-yo .imagen-yo {
        padding: 0;
    }
    .texto-yo .imagen-yo img {
        margin-top: 20px;
        width: 230px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 70px;
        border-top-left-radius: 70px;
    }

    #mainProjectos {
        padding-top: 50px;
    }

    .contactIntro {
        padding-top: 180px;
    }
}

@media screen and (max-width: 450px) {
    header {
        display: flex;
        justify-content: center;
        padding-top: 10px;
    }
    header nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .navTexto {
        border-left: solid 2px #8598cd;
        border-left-style: double;
        padding-left: 10px;
    }
    .navTexto ul{
        display: flex;
        flex-direction: column;
    }
    .navTexto a {
        padding: 0px;
        font-size: 1rem;
        color: #8598cd;
    }

    main {
        padding-top: 170px;
        padding-left: 0px;
        padding-right: 0px;
    }
    #mainBanner {
        height: 800px;
    }
    #mainBanner section{
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .textoMainPage {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    .textoMainPage div{
        height: fit-content;
    }
    .textoMainPage div h1 {
        font-size: 5rem;
    }


    .ArtIvst {
        margin-bottom: 20px;
    }
    .ArtIvst div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    .ArtIvst div h2,
    .ArtIvst div h3 {
        margin: 0;
    }
    .texto-yo {
        grid-template-areas:
        "texto1 texto1"
        "texto2 fotos1"
        "texto2 redes1";
    }
    .texto-yo .me {
        align-self: end;
        justify-self: center;
    }
    .texto-yo p {
        font-size: 1rem;
        padding-top: 20px;
        align-self: baseline;
    }
    .texto-yo .imagen-yo {
        padding-bottom: 0;
        align-self: center;
    }
    .texto-yo .redes {
        padding: 0;
    }
    .texto-yo .redes a img {
        width: 50px;
    }
    .texto-yo .imagen-yo img {
        margin: 0;
        width: 150px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 60px;
        border-top-left-radius: 60px;
    }
    .mainContact {
        display: flex;
        flex-direction: column;
        height: none;
    }
    .imgContactos1 {
        display: flex;
        height: fit-content;
        padding-top: 200px;
    }
    .imgContactos1 img {
        width: 90vw;
    }
    .contactForm h2 {
        font-size: 1.5rem;
    }

    footer {
        display: flex;
        flex-direction: column;
        height: fit-content;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navFooter {
        border-top: solid 2px #8598cd;
        border-bottom: solid 2px #8598cd;
        border-left: none;
        border-right: none;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .navFooter a {
        font-size: 1rem;
    }
    .FooterLogo img {
        height: 60px;
        width: 60px;
    }
    .FooterLogo2 img {
        height: 60px;
        width: 60px;
    }
}

