* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a , li {
    display: inline-block;
    text-decoration: none;
    list-style: none;
    font-style: none;
    text-shadow: none;
}
main{
    min-height: 100vh;
    max-width: 100vw;
    background-color: #2d2d2d;
    padding: 20px 40px;
}
