#main-aboutme {
    padding-top: 120px;    
    .conteiner {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 50px;
        margin-bottom: 50px;
        height: 88vh;
        .texto-yo {
            display: grid;
            grid-template-columns: repeat(fr, 1fr);
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas:
            "texto1 fotos1"
            "texto2 fotos1"
            "redes1 fotos1";
            .me {
                grid-area: texto1;
                align-self: end;
                padding-left: 50px;
                h3 {
                    cursor: default;
                    color: #8598cd;
                    font-size: 2.5rem;
                }
                h2 {
                    cursor: default;
                    color: #8598cd;
                    font-size: 4rem;
                    span {
                        color: white; 
                        font-family: 'Consolas', Courier, monospace;
                    }
                }
            }
            p {
                grid-area: texto2;
                align-self: center;
                cursor: default;
                color: #8598cd; 
                font-size: 1.8rem; 
                font-family: 'Segoe Print', Tahoma, Geneva, Verdana, sans-serif;
            }
            .redes {
                grid-area: redes1;
                padding-top: 20px;
                img {
                    width: 80px;
                }
            }
            .imagen-yo {
                grid-area: fotos1;
                justify-self: center;
                align-self: center;
                div{
                    width: 40vw;
                    display: flex;
                    justify-content: center;
                    img{
                        width: 500px;
                        border-bottom-right-radius: 20px;
                        border-bottom-left-radius: 20px;
                        border-top-right-radius: 180px;
                        border-top-left-radius: 180px;
                        box-shadow: rgb(0, 0, 0, 0.30) 10px 10px 10px 1px
                    }
                }
            }
        }
    }
    .sobre-mi {
        margin-left: 5%;
        margin-right: 5%;
        padding-bottom: 20px;
        .intro, .programacion, .dise単o {
            margin-bottom: 40px;
            div {
                display: flex;
                justify-content: center;
                h3{
                    display: inline-block;
                    white-space: nowrap;
                    color: white; 
                    font-size: 2.5rem;
                    font-family: 'Consolas', Courier, monospace;
                    text-align: center;
                    margin-left: 20px;
                    margin-right: 20px;
                    cursor: default;
                }
                div {
                    width: 100%;
                    flex-direction: column;
                    span {
                        border-bottom: outset 3px #8598cd;
                    }
                }
            }
            p {
                color: #8598cd; 
                font-size: 1.8rem; 
                font-family: 'Consolas', Courier, monospace;
                position: relative;
                padding: 20px;
                border-radius: 10px;
                margin-top: 10px;
                cursor: default;
                span {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    border-radius: 10px;
                    border-right: 8px solid #343E6B;
                    border-left: 8px solid #343E6B;
                    transform: scale(0) translateY(50px);
                    opacity: 0;
                }
                &:hover span{
                    transform: scale(1) translateY(0);
                    z-index: 0;
                    opacity: 1;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    #main-aboutme {
        .conteiner {
            .texto-yo {
                align-self: center;
                .me {
                    padding-bottom: 50px;
                    h3 {
                        font-size: 2.8rem;
                    }
                    h2 {
                        font-size: 3.2rem;
                    }
                }
                p {
                    font-size: 1.5rem;
                }
                .redes {
                    padding-top: 50px;
                }
                .imagen-yo {
                    align-self: center;
                    justify-self: right;
                    div img {
                        width: 450px;
                        border-bottom-right-radius: 20px;
                        border-bottom-left-radius: 20px;
                        border-top-right-radius: 140px;
                        border-top-left-radius: 140px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1025px) {
    #main-aboutme {
        .conteiner {
            .texto-yo {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 1fr 25% 1fr;
                grid-template-areas:
                "texto1 fotos1"
                "texto2 fotos1"
                "texto2 redes1";
                margin-top: 20px;
                position: sticky;
                .me {
                    padding-left: 0;
                    display: inline-block;
                    text-align: center;
                    h3 {
                        grid-area: texto1;
                        font-size: 2rem;
                        display: inline-block;
                        text-align: center;
                    }
                    h2 {
                        grid-area: texto1;
                        font-size: 2.4rem;
                    }
                }
                p {
                    align-self: baseline;
                }
                .redes {
                    grid-area: redes1;
                    justify-self: center;
                    align-self: baseline;
                    padding-top: 10px;
                }
                .imagen-yo {
                    grid-area: fotos1;
                    margin: 0;
                    padding-bottom: 20px;
                    justify-self: center;
                    align-self: end;
                    div img {
                        width: 280px;
                        border-bottom-right-radius: 20px;
                        border-bottom-left-radius: 20px;
                        border-top-right-radius: 100px;
                        border-top-left-radius: 100px;
                    } 
                }
            }
        }
        .sobre-mi {
            .intro {
                margin-bottom: 30px;
                div h3 {
                    font-size: 2rem;
                }
                p{
                    font-size: 1.5rem;
                }
            }
            .programacion {
                margin-bottom: 30px;
                div h3 {
                    font-size: 2rem;
                }
                p{
                    font-size: 1.5rem;
                }
            }
            .dise単o {
                margin-bottom: 30px;
                div h3 {
                    font-size: 2rem;
                }
                p{
                    font-size: 1.5rem;
                }
            }
        }
    }
}

@media screen and (max-width: 720px) {
#main-aboutme {
    .conteiner {
        height: fit-content;
        .texto-yo {
            display: grid;
            grid-template-columns: 1fr ;
            grid-template-rows: auto;
            grid-template-areas: 
            "me"
            "p"
            "foto"
            "redes";
            justify-content: center;
            .me {
                display: flex;
                padding: 0;
                flex-direction: column;
                justify-content: center;
                grid-area: me;
                width: 100%;
                h3 {
                    display: inline-block;
                    text-align: center;
                    font-size: 2.5rem;
                }
                h2 {
                    display: inline-block;
                    text-align: center;
                    font-size: 3rem;
                }
            }
            p {
                padding-top: 20px;
                align-self: baseline;
                grid-area: p;
            }
            .redes {
                grid-area: redes;
            }
            .imagen-yo {
                margin-top: 20px;
                grid-area: foto;
                img {
                    width: 250px;
                    border-bottom-right-radius: 20px;
                    border-bottom-left-radius: 20px;
                    border-top-right-radius: 80px;
                    border-top-left-radius: 80px;
                    }  
                }
            }
        }
    }
}

@media screen and (max-width: 660px) {
#main-aboutme {
    height: max-content;
    .conteiner {
        padding: 0;
        .texto-yo {
            .me {
                h3 {
                    font-size: 1.8rem;
                    }
                h2 {
                    font-size: 2rem;
                    }
                } 
            .redes {
                a img {
                    width: 60px;
                }
            }
            .imagen-yo {
                div img {
                    margin-top: 20px;
                    width: 250px;
                    border-bottom-right-radius: 20px;
                    border-bottom-left-radius: 20px;
                    border-top-right-radius: 70px;
                    border-top-left-radius: 70px;
                }
            }
        }
    }
    .sobre-mi {
        margin: 0;
        .intro {
            margin-bottom: 30px;
            p{
                padding: 20px 0px;
            }
        }
        .programacion {
            margin-bottom: 30px;
            p{
                padding: 20px 0px;
            }
        }
        .dise単o {
            margin-bottom: 30px;
            p{
                padding: 20px 0px;
            }
        }
    }
}
}

@media screen and (max-width: 450px) {
#main-aboutme {
    .conteiner {
        padding: 0;
        height: 100%;
        .texto-yo {
            p {
                font-size: 1rem;
                padding: 20px 10px 20px 10px;
                align-items: baseline;
                grid-area: p;
            }
            .redes {
                grid-area: redes;
                padding-top: 10px;
                a img {
                    width: 50px;
                }
            }
            .imagen-yo {
                grid-area: foto;
                align-self: baseline;
                padding: 0;
                div img {
                    margin: 0;
                    width: 250px;
                    border-bottom-right-radius: 20px;
                    border-bottom-left-radius: 20px;
                    border-top-right-radius: 60px;
                    border-top-left-radius: 60px;
                }
            }
        }
    }
    .sobre-mi {
        .intro {
            div h3 {
                font-size: 1.5rem;
            }
            p{
                font-size: 1rem;
            }
        }
        .programacion {
            div h3 {
                font-size: 1.5rem;
            }
            p{
                font-size: 1rem;
            }
        }
        .dise単o {
            div h3 {
                font-size: 1.5rem;
            }
            p{
                font-size: 1rem;
            }
        }
    }
}
}



