#main-banner {
    background-image: url(../images/Index/tarjeta\ 2.png);
    background-position-x: 70%;
    background-position-y: 20%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
    flex-direction: column;
    .logo-main-page {
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 500px;
            height: 500px;
            text-align: center;
        }
    }
    .texto-main-page {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .art{
            h1 {
                font-size: 10em;
                font-family: 'Segoe Print', Tahoma, Geneva, Verdana, sans-serif;
                color: #3c4471;
                -webkit-text-stroke: 3px;
                -webkit-text-stroke-color: #2d2d2d;
            }
        }
        .ivst {
            h1 {
                font-size: 10em;
                font-family: 'Consolas', Courier, monospace;
                color: #2d2d2d;
                -webkit-text-stroke: 1px;
                -webkit-text-stroke-color: rgb(0, 0, 0, 0.30);
            }
        }
    }
}



@media screen and (max-width: 1200px) {
    #main-banner {
        section {
            .logo-main-page {
                padding: 0;
                img {
                    width: 400px;
                    height: 400px;
                }
            }
            .texto-main-page {  
                .art {
                    h1 {
                        font-size: 9rem;
                    }
                }
                .ivst {
                    h1 {
                        font-size: 9rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1025px) {
    #main-banner {
        section {
            .logo-main-page {
                img {
                    width: 350px;
                    height: 350px;
                }
            }
            .texto-main-page {
                .art {
                    h1 {
                        font-size: 8rem;
                    }
                }
                .ivst {
                    h1 {
                        font-size: 8rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 720px) {
    #main-banner {
        section {
            .logo-main-page {
                img {
                    height: 300px;
                    width: 300px;
                }
            }
            .texto-main-page {
                .art {
                    h1 {
                        font-size: 7rem;
                    }
                }
                .ivst {
                    h1 {
                        font-size: 7rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 660px) {
    #main-banner {
        section {
            .logo-main-page {
                img {
                    height: 250px;
                    width: 250px;
                }
            }
            .texto-main-page {
                .art {
                    h1 {
                        font-size: 6rem;
                    }
                }
                .ivst {
                    h1 {
                        font-size: 6rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    #main-banner {
        padding-top: 26vh;
        section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .texto-main-page {
                display: flex;
                flex-direction: column;
                .art {
                    h1 {
                        font-size: 5rem;
                    }
                }
                .ivst {
                    h1 {
                        font-size: 5rem;
                    }
                }
            }
        }
    }
}